{
    "presets": ["@babel/preset-react", "@babel/preset-env"],
    "plugins": 
    [
        ["@babel/transform-runtime"],
        ["styled-components", { "ssr": false, "preprocess": true }],
        ["@babel/plugin-proposal-class-properties", { "loose": true }]
    ]
}